<div>
    <!-- PAGE NAME START -->
    <section class="page-name parallax" data-paroller-factor="0.1" data-paroller-type="background" data-paroller-direction="vertical">
        <div class="container">
            <div class="row">
                <h1 class="page-title">
                    修改密码
                </h1>
            </div>
        </div>
    </section>
    <!-- PAGE NAME END -->
    <!-- SECTION START -->
    <section class="blog-content ptb150 each-element">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-md-push-3">
                    <div class="form-row">
                        <div class="input-wrap">
                            <input type="password" class="general_input italic" placeholder="旧密码" v-model="form.old">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-wrap">
                            <input type="password" class="general_input italic" placeholder="新密码" v-model="form.new">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-wrap">
                            <input type="password" class="general_input italic" placeholder="确认新密码" v-model="form.confirm">
                        </div>
                    </div>

                    <div>
                        <input type="button" class="btn gradient mt30 color-white color-white plr50 ptb19" value="重置密码" v-on:click="resetPassword" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION END -->    
</div>